html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
body {
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    color: #0c0b0b;
    background-color: rgb(94, 91, 91);
}
 .wrapper {
     max-width: 1200px;
     margin: 40px auto;
     padding: 10px;
    background:rgb(211, 204, 204);
    border-radius: 4px;
    
     
   }
   .wrapper_photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    
    margin: 50px;   
   }
   .title {
    font-size: 28px;
    font-style: italic;
    font-weight: 600;
    margin: 50px;
   }
   .photo {
    border-radius: 50px;
   }
   .contacts {
       margin-bottom: 40px;
      padding: 10px;
      
   }
   .contacts_title {
       border-bottom: 2px double grey;
       font-weight: 600;
       text-align: center;
   
   }
   .contacts_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
   }
   .contacts_item {
       text-decoration: none;
       color:rgb(44, 41, 41);
   }
   .wrapper_info {
       display: flex;
       justify-content: space-around;

   }
   .info_left {
       width: 60%;
   }
   .info_right {
       
   }
   .summary_title {
    border-bottom: 2px double grey;
       width: 90px;
       font-weight: 600;
       margin-bottom: 20px;
   }
   .summary, .experience, .education {
       margin-bottom: 40px;;
   }
   .experience_title {
    border-bottom: 2px double grey;
    width: 160px;
    font-weight: 600;
    margin-bottom: 20px;
   }
   .education_title {
    border-bottom: 2px double grey;
    width: 100px;
    font-weight: 600;
    margin-bottom: 20px;
   }
   .skills_title, .skills_com_title, .english_title, .skills_prof_title {
    border-bottom: 2px double grey;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2px;
   }
   .skills {
       margin-bottom: 10px;
   }
   .footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .footer>a {
    text-decoration: none;
    color:rgb(44, 41, 41);
   }